/* основной цвет для всех заголовков (кроме h1) и навигации    #212121
вспомогательный цвет контакты и абзаци     #757575
цвет акцент (кнопки, лого, ховер, фокус)   #2196F3
h1, подпись кнопки, адресс, лого           #FFFFFF
контакты в футоре                          rgba(255, 255, 255, 0.6)
основной цвет фона   #E5E5E5
цвет фона хедора     #FFFFFF
секция наша команда  #F5F4FA
секция 1 и футор     #2F303A
*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --address-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

header {
  background: #ffffff;
}

footer {
  background: #2f303a;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid green;
}

/* logo */

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-header {
  color: #000000;
}
.logo-footer {
  color: var(--hero-title-color);
}

/* site-naw */
.site-naw {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-naw .link {
  color: var(--title-text-color);
}
.site-naw .link:hover,
.site-naw .link:focus,
.site-naw .link.current {
  color: var(--accent-color);
}

/* contacts-header */

.contacts-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-header a {
  color: var(--primary-text-color);
}
.contacts-header a:hover,
.contacts-header a:focus {
  color: var(--accent-color);
}

/* section hero */

.hero {
  background: #2f303a;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  background-color: var(--accent-color);
  color: var(--hero-title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* section benefits */
.benefits,
.preview,
.portfolio {
  background-color: #e5e5e5;
}
.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.benefits h3 {
  margin-top: 0;
  margin-bottom: 10;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section preview */

.preview > h2,
.command > h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* section command */

.command {
  background: #f5f4fa;
}

.command h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.command p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* section portfolio */

.portfolio h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.button-portfolio {
  background: #f5f4fa;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-portfolio:hover {
  background: var(--accent-color);
  color: var(--hero-title-color);
}

/* address */

address {
  color: var(--hero-title-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

address > a {
  color: var(--address-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
address a:hover,
address a:focus {
  color: var(--accent-color);
}
